<div class="my-24 max-w-5xl mx-auto" appObserver [inViewSignal]="inView" [threshold]="threshold">
  <h1 class="text-3xl text-center font-capriola enter-transition" [class.to-slide-in-down]="!inView()">Education</h1>
  <div class="schools-container">
    <div class="school-card enter-transition delay-300" [class.to-slide-in-down]="!inView()">
      <div class="school-dates">
        Oct 2020 - Jul 2022
      </div>
      <div class="logo-wrapper">
        <img ngSrc="images/compressed/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo" height="100"
             width="100">
      </div>
      <h2>Aristotle University of Thessaloniki</h2>
      <h3>Masters's Degree</h3>
      <h4>Artificial Intelligence</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
    </div>
    <div class="school-card enter-transition delay-500" [class.to-slide-in-down]="!inView()">
      <div class="school-dates">
        Sep 2021 - Feb 2022
      </div>
      <div class="logo-wrapper">
        <img ngSrc="images/compressed/upm_logo_small.png" lang="es" alt="Universidad Politécnica de Madrid logo"
             height="212" width="200">
      </div>
      <h2 lang="es">Universidad Politécnica de Madrid</h2>
      <h3>Erasmus+ Exchange Semester</h3>
      <h4>Artificial Intelligence</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
    </div>
    <div class="school-card enter-transition delay-700" [class.to-slide-in-down]="!inView()">
      <div class="school-dates">
        Oct 2016 - Nov 2020
      </div>
      <div class="logo-wrapper">
        <img ngSrc="images/compressed/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo" height="100"
             width="100">
      </div>
      <h2>Aristotle University of Thessaloniki</h2>
      <h3>Bachelor's Degree</h3>
      <h4>Computer Science</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
<!--        <div>Specializations?</div>-->
    </div>
  </div>
</div>
