<div class="my-24 max-w-5xl mx-auto" appObserver [inViewSignal]="inView" [threshold]="0.4"> <!-- TODO: Thresholds and animations on mobile -->
  <h1 class="text-3xl text-center font-capriola enter-transition" [class.to-fade-in]="!inView()">Education</h1> <!-- TODO: Try motion-safe -->
  <div class="schools-container">
    <div class="school-card enter-transition delay-300" [class.to-fade-in]="!inView()">
      <div class="school-dates">
        Oct 2020 - Jul 2022
      </div>
      <div class="logo-wrapper">
        <img src="images/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo">
      </div>
      <h2>Aristotle University of Thessaloniki</h2>
      <h3>Masters's Degree</h3>
      <h4>Artificial Intelligence</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
    </div>
    <div class="school-card enter-transition delay-500" [class.to-fade-in]="!inView()">
      <div class="school-dates">
        Sep 2021 - Feb 2022
      </div>
      <div class="logo-wrapper">
        <img src="images/upm_logo.png" lang="es" alt="Universidad Politécnica de Madrid logo">
      </div>
      <h2 lang="es">Universidad Politécnica de Madrid</h2>
      <h3>Erasmus+ Exchange Semester</h3>
      <h4>Artificial Intelligence</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
    </div>
    <div class="school-card enter-transition delay-700" [class.to-fade-in]="!inView()">
      <div class="school-dates">
        Oct 2016 - Nov 2020
      </div>
      <div class="logo-wrapper">
        <img src="images/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo">
      </div>
      <h2>Aristotle University of Thessaloniki</h2>
      <h3>Bachelor's Degree</h3>
      <h4>Computer Science</h4>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
<!--        <div>Specializations?</div>-->
    </div>
  </div>
</div>
