<main>
  <div class="mx-auto p-16 flex gap-2 justify-center items-center flex-wrap">
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0788.jpg" alt="Belém Tower">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0191_crop.jpg" alt="Retiro Park">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0065.jpg" alt="Statue of Alexander the Great">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0186.jpg" alt="Palace of Culture and Science">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0269.jpg" lang="es" alt="Palacio de Cristal">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0351.jpg" lang="es" alt="Sevilla buildings on the river">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0497.jpg" alt="Zurich">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0555.jpg" lang="es" alt="Plaza de España">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0587.jpg" alt="Tel Aviv skyscrapers">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0693.jpg" lang="es" alt="Plaza de España">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_0773.jpg" alt="Monolithos Castle">
    </div>
    <div class="polaroid rotate-[25deg]">
      <img src="photos/DSC_0953_1.jpg" alt="Bird flying in front of bridge">
    </div>
    <div class="polaroid -rotate-[25deg]">
      <img src="photos/DSC_1158.jpg" alt="Walls of Dubrovnik">
    </div>
  </div>
</main>
