@use "../../variables" as *;


.polaroid {
  width: 300px;
  @apply rounded-sm;
  background-color: white;
  padding: 10px 10px 50px 10px;
  box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75);
  transition: scale 0.2s linear, translate 0.5s ease-out, rotate 0.5s ease-out;

  @media (prefers-reduced-motion: reduce) {
    transition: scale 0.2s linear;
  }

  & > img {
    @apply rounded-sm;
  }

  &:hover {
    z-index: 100 !important; // Important is needed here, because if I use custom z-indices, inline styles take precedence over this hover state style
    scale: 1.5 !important;
  }
}

.to-drop-in {
  @media (prefers-reduced-motion: no-preference) {
    scale: 1.3;
    z-index: 1;
    translate: 0 0;
    rotate: 0deg;
  }
}
