<footer class="text-center bg-sea-blue h-16 flex items-center justify-center text-2xl">
  <a href="https://github.com/Nick-Trag" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="mailto:nikos-tr@hotmail.com" target="_blank">
    <i class="fa-regular fa-envelope"></i>
  </a>
  <a href="https://www.linkedin.com/in/nikos-tragkas/" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/nikos.trag/" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>
</footer>
