a {
  @apply px-2;
  @apply py-1;

  &:hover {
    outline: 2px dashed; // TODO: Outline instead of border (also in project links)
  }
}

.fade-transition {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
