a {
  @apply px-2;
  @apply py-1;

  &:hover {
    border: 1px dashed;
  }
}

.fade-transition {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
