<div class="p-3 max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4" appObserver [inViewSignal]="inView" [threshold]="threshold">
  <div class="text-justify enter-transition" [class.to-slide-in-left]="!inView()">
    <h1 class="font-capriola text-3xl">About me!</h1>
    <div>
      <!--      More details (uni, projects, interests, ...)-->
      <!--      Grid with pic on the right? -->
      <p>
        I am a software engineer, with a passion for web development. I studied Computer Science at the Aristotle
        University of Thessaloniki, specializing in the field of
        Artificial Intelligence. After I got my Bachelor's degree, I continued in the same university, studying
        Artificial Intelligence. During my Master's cycle, I also
        spent a semester in Madrid, doing an Erasmus+ exchange at the <span lang="es">Universidad Politécnica de Madrid</span>.
        After finishing my studies, I spent one year in the army, as is required in Greece, and am now ready to tackle the next challenge in my life!
      </p>
      <p class="pt-2">
        Other than <a routerLink="/coding"><i class="fa-solid fa-laptop-code text-xs"></i> coding</a>, my hobbies include going to the
        <a routerLink="/gym"><i class="fa-solid fa-dumbbell text-xs"></i> gym</a>,
        playing <a routerLink="/gym"><i class="fa-regular fa-futbol text-xs"></i> sports</a>,
        <a routerLink="/photography"><i class="fa-solid fa-camera text-xs"></i> photography</a>,
        <a routerLink="/travel"><i class="fa-solid fa-plane text-xs"></i> traveling</a>,
        and playing <a routerLink="/video-games"><i class="fa-solid fa-gamepad text-xs"></i> video games</a>.
      </p>
    </div>
  </div>
  <div class="enter-transition delay-200" [class.to-slide-in-left]="!inView()">
    <img src="images/nikos_2023_small.jpg" alt="Picture of Nikos Tragkas" class="border-2 border-black rounded-xl">
  </div>
</div>
