.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: var(--nav-height);
}

.nav-item {
  a {
    @apply p-3;
    @apply font-capriola;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.mobile-navbar-closed {
  display: flex;
  align-items: center;
  justify-content: start;
  height: var(--nav-height);
}

.burger-button {
  @apply ml-4;
  @apply px-4;
  @apply py-1;
  @apply rounded;
  border: 1px solid rgba(var(--lavender), 0.3);
}

.mobile-navbar-open {
  position: fixed;
  left: 0;
  top: 0;
  height: 100lvh;
  width: 100%;
  background-color: #121720;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply text-2xl;
  @apply gap-6;
  align-items: center;
  text-align: center;
  z-index: 1500;
}

.close-button {
  position: absolute;
  left: 40px;
  top: 25px;
}

@keyframes mobile-navbar-animation {
  from {
    clip-path: ellipse(0px 0px at -100px -100px);
  }

  to {
    clip-path: ellipse(1100px 1100px at 0% 0%);
  }
}

.mobile-navbar-open-animation {
  animation: mobile-navbar-animation 0.3s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.mobile-navbar-close-animation {
  animation: mobile-navbar-animation 0.3s ease-in-out reverse;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
