.terminal-input {
  background-color: inherit;
  flex: 1 1 0;

  &:focus, &:active {
    border: none;
    outline: none;
  }
}

.inner-terminal { // TODO: Test this and try other colors too
  scrollbar-width: thin;
  scrollbar-color: gray black;
}
