<main class="h-screen-no-navbar flex items-center justify-center"> <!-- Full page content -->
  <div class="p-4 h-full w-full flex items-center justify-center"> <!-- Terminal container -->
    <div class="w-full h-full max-w-6xl max-h-[40rem] bg-black rounded text-blue-50 mx-auto"> <!-- Terminal -->
      <div class="bg-gray-700 w-full py-1 px-2 rounded-t-sm"><i class="fa-solid fa-terminal"></i> Terminal</div> <!-- Terminal window title -->
      <div class="py-1 px-2 flex flex-row gap-2"> <!-- Terminal line -->
        <div>
          user&#64;nikostragkas.eu<span class="text-blue-500">~</span><span class="text-blue-200">$</span>
        </div>
        <input type="text" class="terminal-input">
      </div>
    </div>
  </div>
</main>
