<main class="h-screen-no-navbar min-h-96"> <!-- Full page content -->
  <div class="p-4 h-full w-full flex items-center justify-center"> <!-- Terminal container -->
    <div class="w-full h-full max-w-6xl max-h-[40rem] bg-black rounded text-blue-50 flex flex-col" (click)="focusTerminal()"> <!-- Terminal -->
      <header class="bg-gray-700 w-full py-1 px-2 rounded-t-sm"><i class="fa-solid fa-terminal"></i> Terminal</header> <!-- Terminal window title -->
      <div class="overflow-y-auto inner-terminal" #innerTerminal> <!-- Inner terminal -->
        @for (command of previousCommands; track $index) {
          <div class="terminal-line"> <!-- Terminal line -->
            <div class="text-nowrap">
              <span class="text-emerald-500">user&#64;nikostragkas.eu</span>:
              <span class="text-blue-500 mr-[0.05rem]">{{command.directory  === '/home/nikos' ? '~' : command.directory}}</span>
              <span class="text-blue-200">$</span>
            </div>
            <div class="terminal-input">{{command.command}}</div>
          </div>
          <!-- Possible TODO: Add slight breathing room on the right when the content overflows (can add mr-2 to inner-terminal) -->
          <div class="px-2 -my-2 whitespace-pre">{{command.result}}</div>
        }
        <div class="terminal-line"> <!-- Terminal line -->
          <div class="text-nowrap">
            <span class="text-emerald-500">user&#64;nikostragkas.eu</span>:
            <span class="text-blue-500 mr-[0.05rem]">{{currentDirectory === '/home/nikos' ? '~' : currentDirectory}}</span>
            <span class="text-blue-200">$</span>
          </div>
          <input type="text" class="terminal-input" (keydown.enter)="handleCommand()" (keydown.arrowUp)="goToPreviousCommand()"
                 (keydown.arrowDown)="goToNextCommand()" [(ngModel)]="currentCommand" spellcheck="false" autocorrect="off"
                 autocapitalize="none" autocomplete="off" #terminalInput>
        </div>
      </div>
    </div>
  </div>
</main>
