<div class="hidden md:block"> <!-- Desktop navbar -->
  <nav class="navbar">
    <div class="nav-item opacity-0 animate-fade-in animation-delay-100">
      <a routerLink="/">Home</a>
    </div>
    <div class="nav-item opacity-0 animate-fade-in animation-delay-200">
      <a routerLink="/photography">Photography</a>
    </div>
    <div class="nav-item opacity-0 animate-fade-in animation-delay-300">
      <a routerLink="/coding">Coding</a>
    </div>
    <div class="nav-item opacity-0 animate-fade-in animation-delay-[400ms]">
      <a routerLink="/travel">Travel</a>
    </div>
    <div class="nav-item opacity-0 animate-fade-in animation-delay-500">
      <a routerLink="/gym">Gym</a>
    </div>
    <div class="nav-item opacity-0 animate-fade-in animation-delay-[600ms]">
      <a routerLink="/video-games">Video games</a>
    </div>
  </nav>
</div>
<div class="md:hidden"> <!-- Mobile navbar -->
  <nav class="mobile-navbar-closed animate-fade-in">
    <button class="burger-button" (click)="toggleNav()" aria-label="Open navigation">
      <i class="fa-solid fa-bars text-3xl"></i>
    </button>
  </nav>
  @if (navOpen) {
    <nav class="mobile-navbar-open" @toggleNav cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <button class="close-button enter-transition animate-fade-in" (click)="closeNav()" aria-label="Close navigation">
        <i class="fa-solid fa-xmark text-2xl"></i>
      </button>
      <div class="nav-item opacity-0 animate-fade-in">
        <a routerLink="/" (click)="closeNav()">Home</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-100 animate-fade-in">
        <a routerLink="/photography" (click)="closeNav()">Photography</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-200 animate-fade-in">
        <a routerLink="/coding" (click)="closeNav()">Coding</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-300 animate-fade-in">
        <a routerLink="/travel" (click)="closeNav()">Travel</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-[400ms] animate-fade-in">
        <a routerLink="/gym" (click)="closeNav()">Gym</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-500 animate-fade-in">
        <a routerLink="/video-games" (click)="closeNav()">Video games</a>
      </div>
    </nav>
  }
</div>
