@use "../../variables" as *;

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: $nav-height;
  //border-bottom: 1px solid white; // For debugging
}

.nav-item {
  a {
    @apply p-3;
    @apply font-capriola;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.mobile-navbar-closed {
  display: flex;
  align-items: center;
  justify-content: start;
  height: $nav-height;
}

.burger-button {
  @apply ml-4;
  @apply px-4;
  @apply py-1;
  @apply rounded;
  border: 1px solid rgba(var(--text-color), 0.3);
}

.mobile-navbar-open {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply text-2xl;
  @apply gap-6;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  left: 40px;
  top: 25px;
}
