<div class="hidden md:block"> <!-- Desktop navbar -->
  <nav class="navbar">
  <!--  TODO: Navbar items will become more fun, with stuff like icons, hover effects, and animations -->
  <!--  TODO: The translate animation does not work correctly -->
  <!--  TODO: Collapse on mobile -->
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-100">
      <a routerLink="/">Home</a>
    </div>
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-200">
      <a routerLink="/photography">Photography</a>
    </div>
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-300">
      <a routerLink="/coding">Coding</a>
    </div>
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-[400ms]">
      <a routerLink="/travel">Travel</a>
    </div>
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-500">
      <a routerLink="/gym">Gym</a>
    </div>
    <div class="nav-item opacity-0 animate-slide-in-up animation-delay-[600ms]">
      <a routerLink="/video-games">Video games</a>
    </div>
  </nav>
</div>
<div class="md:hidden"> <!-- Mobile navbar -->
  <nav class="mobile-navbar-closed animate-slide-in-up">
    <button class="burger-button" (click)="toggleNav()">
      <i class="fa-solid fa-bars text-3xl"></i>
    </button>
  </nav>
  <div class="mobile-nav-container" [ngClass]="navOpen ? 'mobile-nav-container-open' : 'mobile-nav-container-closed'">
    <nav class="mobile-navbar-open">
      <button class="close-button" [ngClass]="navOpen ? 'enter-transition animate-fade-in' : ''" (click)="toggleNav()"> <!-- TODO: Better animations -->
        <i class="fa-solid fa-xmark text-2xl"></i>
      </button>
      <div class="nav-item opacity-0 animation-delay-100" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/">Home</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-200" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/photography">Photography</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-300" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/coding">Coding</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-[400ms]" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/travel">Travel</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-500" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/gym">Gym</a>
      </div>
      <div class="nav-item opacity-0 animation-delay-[600ms]" [class.animate-slide-in-up]="navOpen">
        <a routerLink="/video-games">Video games</a>
      </div>
    </nav>
  </div>
</div>
