<nav class="navbar">
<!--  TODO: Navbar items will become more fun, with stuff like icons, hover effects, and animations -->
<!--  TODO: The translate animation does not work correctly -->
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-100">
    <a class="" routerLink="/">Home</a>
  </div>
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-200">
    <a class="" href="/photography">Photography</a>
  </div>
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-300">
    <a class="" href="/coding">Coding</a>
  </div>
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-[400ms]">
    <a class="" href="/travel">Travel</a>
  </div>
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-500">
    <a class="" href="/gym">Gym</a>
  </div>
  <div class="nav-item opacity-0 animate-slide-in-up animation-delay-[600ms]">
    <a class="" href="/video-games">Video games</a>
  </div>
</nav>
