<div class="my-24 max-w-5xl mx-auto" appObserver [inViewSignal]="inView" [threshold]="threshold">
  <h1 class="text-3xl text-center font-capriola enter-transition" [class.to-slide-in-down]="!inView()">Experience</h1>
  <div class="jobs-container">
    <div class="job-card enter-transition delay-300" [class.to-slide-in-down]="!inView()">
      <div class="job-info">
        <div class="job-dates hidden sm:block text-pretty">Oct 2023 - Sep 2024</div>
        <div class="job-dates sm:hidden text-pretty">10/2023 - 09/2024</div> <!-- Gets a bit tight on mobile, so using shorter form dates to save space -->
        <div class="job-location">Thessaloniki, Greece</div>
      </div>
      <div class="logo-wrapper">
        <img ngSrc="images/inca_hellas_logo.png" alt="INCA Hellas logo" height="50" width="162">
      </div>
      <h2>INCA Hellas</h2>
      <h3>Developer</h3>
      <ul>
        <li>
          Was solely responsible for the refactoring and modernization of the company website
          <a href="https://incahellas.infinityfreeapp.com" target="_blank" class="text-nowrap">incahellas.gr <i class="fa-solid fa-arrow-up-right-from-square text-xs"></i></a>
        </li>
        <li>
          Used HTML, CSS, JavaScript, PHP
        </li>
        <li>
          Significantly contributed to the ongoing development of a queue system used by
          large companies across Greece and was responsible for its refactoring to support
          new requested functionality and improve its scalability
        </li>
        <li>
          Used mainly PHP, as well as many other technologies for secondary systems, such
          as Python and JavaScript
        </li>
      </ul>
    </div>
    <div class="job-card enter-transition delay-500" [class.to-slide-in-down]="!inView()">
      <div class="job-info">
        <div class="job-dates hidden sm:block text-pretty">Jul 2019 - Feb 2020</div>
        <div class="job-dates sm:hidden text-pretty">07/2019 - 02/2020</div>
        <div class="job-location">Thessaloniki, Greece</div>
      </div>
      <div class="logo-wrapper">
        <img ngSrc="images/compressed/it-auth-logo.png" alt="AUTH IT Center logo" height="480" width="480">
      </div>
      <h2>AUTH IT Center</h2>
      <h3>Intern Front-end Web Developer</h3>
      <ul>
        <li>
          Resolved bugs and implemented new features on UniverSIS, an updated and
          open
          source Student Information System used by multiple universities in Greece</li>
        <li>
          Worked as part of a large team and collaborated with multiple other teams
          (Back end Developers, UX Team etc.)
        </li>
        <li>
          Used Angular framework and Bootstrap
        </li>
        <li>
          Collaborated with my team using version control tools (Git + Gitlab)
        </li>
      </ul>
    </div>
  </div>
</div>
