.hollow-knight-box {
  border: 1px solid #121720;
  //color: rgb(var(--charcoal));
  //color: #0C1A2C;
  //color: #F9F9F9;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  //height: 500px;
  background: rgb(84, 101, 119);
  background: linear-gradient(135deg, rgba(12,26,44,1) 0%, rgba(30,50,71,1) 13%, rgba(168,169,173,1) 82%, rgba(249,249,249,1) 100%);
  @apply rounded-lg p-4 pb-8 mx-3;
}

table, th, td {
  border: 1px solid rgba(var(--lavender), 0.3);
  @apply p-2;
  text-align: start;
}

table {
  border-collapse: collapse;
}
