<section class="text-center pb-12">
  <h2 class="font-capriola text-2xl mb-8">
    Other games
  </h2>
  <div>
    Most played games on Steam
    <div class="flex flex-wrap flex-row items-center justify-center gap-4">
      @for (game of ['The Witcher', 'Hollow Knight', 'Elden Ring']; track $index) {
        <div class="flex flex-col items-center justify-center">
          <h3>{{game}}</h3>
          <img src="images/lol_profile_icon.webp" alt="{{game}}" class="max-w-20 max-h-20">
        </div>
      }
    </div>
    <!-- TODO: 10 most played games on Steam or something. And some info about like Megaman, Zelda, etc. -->
  </div>
</section>
