<section class="text-center pb-12">
  <h2 class="font-capriola text-2xl mb-4">
    Other games
  </h2>
  <div>
    <h3 class="text-lg mb-3 font-varela-round">Most played games on <span class="text-nowrap"><i class="fa-brands fa-steam text-sm"></i> Steam</span></h3>
    <div class="flex flex-col items-center justify-center gap-4">
      @for (game of mockGames; track game.appId) {
        <div class="rounded-md p-1 w-[30rem] flex flex-row items-center justify-start gap-3 game-card">
          <img ngSrc="https://cdn.cloudflare.steamstatic.com/steam/apps/{{game.appId}}/hero_capsule.jpg" crossorigin="anonymous" referrerpolicy="no-referrer"
               alt="{{game.name}}" class="max-w-[8.5rem] rounded" width="374" height="488">
          <div class="flex flex-col items-start justify-start">
            <h3 class="text-start text-xl font-convergence">{{game.name}}</h3>
            <h5 class="text-start opacity-60">{{game.hoursPlayed}} hours played</h5>
          </div>
        </div>
      }
    </div>
    <!-- TODO: 10 most played games on Steam or something. And some info about like Megaman, Zelda, etc. -->
  </div>
</section>
