@use '../../variables' as *;
@use '../../styles/home-styles' as *;

.project-card {
  @extend .card;
}

.projects-container {
  @extend .base-container;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply gap-10;
  max-width: 95%;
  margin: 0 auto;
}

.project-logo {
  width: 200px;
}

.project-link {
  @apply p-1;
  display: inline-block;
  width: 2.5rem;

  &:hover, &:active {
    outline: 2px $charcoal dashed;
  }
}
