<div class="my-24 max-w-5xl mx-auto">
  <h1 class="text-3xl text-center font-capriola">Projects</h1>
  <div class="projects-container">
    @for (project of projects; track $index) {
      <a href="{{project.mainLink}}" target="_blank" class="project-card" [@inView]="inView[$index]" #projectCard>
        <div class="flex items-center flex-col md:flex-row gap-4">
          <img src="{{project.imageLink}}" alt="{{project.imageAlt}}" class="project-logo" [class.rounded-full]="project.name === 'Thessmetro'">
          <div>
            <h2 class="font-bold text-xl">{{ project.name }}</h2>
            <ul class="text-start">
              @for (listItem of project.bulletPoints; track $index) {
                <li>{{listItem}}</li>
              }
            </ul>
          </div>
        </div>
        <div class="self-end opacity-85">
          @for (link of project.projectLinks; track $index) {
            @if ($last) {
              <a href="{{link.link}}" target="_blank" class="project-link">
                <i class="{{link.faIcons}} text-2xl"></i>
              </a>
            }
            @else {
              <a href="{{link.link}}" target="_blank" class="project-link mr-1">
                <i class="{{link.faIcons}} text-2xl"></i>
              </a>
            }
          }
        </div>
      </a>
    }
  </div>
</div>
