<div class="my-24 max-w-5xl mx-auto"> <!-- TODO: Separate intersection observer for each item -->
  <h1 class="text-3xl text-center font-capriola">Projects</h1>
  <div class="projects-container">
    <a href="https://play.google.com/store/apps/details?id=csd.nikos.wili" target="_blank" class="project-card">
      <div class="flex items-center flex-col md:flex-row">
        <img src="images/wili_small.png" alt="Wili Wishlist logo" class="project-logo">
        <div>
          <h2 class="font-bold text-xl">Wili Wishlist</h2>
          <ul class="text-start">
            <li>Android App created using Flutter</li>
            <li>Create a list of items to purchase, and add images, prices, categories, etc.</li>
            <li>Mark items as purchased and distinguish them from the rest</li>
            <li>Sort and filter items to easily organize them</li>
            <li>Customize the categories, the currency used, and the app theme (light or dark)</li>
          </ul>
        </div>
      </div>
      <div class="self-end opacity-85">
        <a href="https://github.com/Nick-Trag/wili" target="_blank" class="project-link mr-1">
          <i class="fa-brands fa-github text-2xl"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=csd.nikos.wili" target="_blank" class="project-link">
          <i class="fa-brands fa-google-play text-2xl"></i>
        </a>
      </div>
    </a>
    <!-- TODO: The actual project, with the correct image and links when it is complete -->
    <a href="#" class="project-card">
      <div class="flex items-center flex-col md:flex-row">
        <img src="images/wili_small.png" alt="Wili Wishlist logo" class="project-logo">
        <div>
          <h2 class="font-bold text-xl">Nikos</h2>
          <ul class="text-start">
            <li>Personal Portfolio website</li>
            <li>Built using Angular, Tailwind</li>
            <li>Blah, blah...</li>
            <li>More things to say</li>
          </ul>
        </div>
      </div>
      <div class="self-end opacity-85">
        <a href="https://github.com/Nick-Trag/nikos" target="_blank" class="project-link mr-1">
          <i class="fa-brands fa-github text-2xl"></i>
        </a>
        <a href="#" class="project-link">
          <i class="fa-solid fa-link text-2xl"></i>
        </a>
      </div>
    </a>
    <!-- TODO: Lots of repeated code. Use a component or an @for -->
    <a href="https://cavaaxaikosfaros.gr" target="_blank" class="project-card">
      <div class="flex items-center flex-col md:flex-row">
        <img src="images/axaikos_faros.png" alt="Achaikos Faros logo" class="project-logo">
        <div>
          <h2 class="font-bold text-xl">Achaikos Faros website</h2>
          <ul class="text-start">
            <li>Website with information about a liquor store</li>
            <li>Used HTML and CSS</li>
          </ul>
        </div>
      </div>
      <div class="self-end opacity-85">
<!--          <a href="https://github.com/Nick-Trag/nikos" target="_blank" class="project-link mr-1">-->
<!--            <i class="fa-brands fa-github text-2xl"></i>-->
<!--          </a>-->
        <a href="https://cavaaxaikosfaros.gr" target="_blank" class="project-link">
          <i class="fa-solid fa-link text-2xl"></i>
        </a>
      </div>
    </a>
    <a href="https://nick-trag.github.io/thessmetro" target="_blank" class="project-card">
      <div class="flex items-center flex-col md:flex-row">
        <img src="images/thessmetro_logo.jpg" alt="Thessmetro logo" class="project-logo rounded-full">
        <div>
          <h2 class="font-bold text-xl">Thessmetro</h2>
          <ul class="text-start">
            <li>Website for posting news about the construction of Thessaloniki's subway</li>
            <li>Used Angular and Bootstrap</li>
          </ul>
        </div>
      </div>
      <div class="self-end opacity-85">
<!--          <a href="https://github.com/Nick-Trag/nikos" target="_blank" class="project-link mr-1">-->
<!--            <i class="fa-brands fa-github text-2xl"></i>-->
<!--          </a>-->
        <a href="https://nick-trag.github.io/thessmetro" target="_blank" class="project-link">
          <i class="fa-solid fa-link text-2xl"></i>
        </a>
      </div>
    </a>
  </div>
</div>
