.projects-container {
  @apply flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply gap-10;
  @apply pt-4;
  @apply px-2;
  max-width: 95%;
  margin: 0 auto;
}

.project-logo {
  width: 200px;
}

.project-link {
  @apply p-1;
  display: inline-block;
  width: 2.5rem;

  &:hover, &:active {
    outline: 2px rgb(var(--charcoal)) dashed;
  }
}

.recursion-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.recursion-fade-out {
  animation: fade-in 0.5s ease-in-out reverse;
}
