<section class="text-center pb-12 max-w-2xl mx-auto">
  <h2 class="font-capriola text-2xl mb-8">
    Hollow Knight
  </h2>
  <div class="hollow-knight-box">
    <img ngSrc="images/hollow_knight_small.jpg" alt="Hollow Knight" class="mx-auto max-w-36 max-h-36 mb-4 rounded border-charcoal border-[1px]" width="200" height="192">
    <table class="mx-auto">
      <tbody>
        <tr>
          <td>
            Completion
          </td>
          <td>
            112%
          </td>
        </tr>
        <tr>
          <td>
            Achievements
          </td>
          <td>
            63/63
          </td>
        </tr>
        <tr>
          <td>
            Time played
          </td>
          <td>
            126.4 hours
          </td>
        </tr>
        <tr>
          <td>
            Radiant bosses beaten
          </td>
          <td>
            45/45
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
