<section class="text-center pb-12 max-w-2xl mx-auto">
  <h2 class="font-capriola text-2xl mb-8">
    Pokémon
  </h2>
  <div class="pokemon-box">
    <img ngSrc="images/trainer_cards/platinum_red.png" alt="Nikos Tragkas' Pokémon trainer card" height="158" width="245" class="mx-auto">
    <table class="mx-auto mt-2">
      <tbody>
        <tr>
          <td>
            Games played
          </td>
          <td>
            15
          </td>
        </tr>
        <tr>
          <td>
            Pokémon caught
          </td>
          <td>
            2000+
          </td>
        </tr>
        <tr>
          <td>
            First game
          </td>
          <td>
            Pokémon Emerald
          </td>
        </tr>
        <tr>
          <td>
            Most recent game
          </td>
          <td>
            Pokémon Unite
          </td>
        </tr>
        <tr>
          <td>
            Favorite game
          </td>
          <td>
            Pokémon Mystery Dungeon: Explorers of Sky
          </td>
        </tr>
        <tr>
          <td>
            First Pokémon
          </td>
          <td>
            Torchic
          </td>
        </tr>
        <tr>
          <td>
            Favorite Pokémon
          </td>
          <td>
            Blaziken
          </td>
        </tr>
        <tr>
          <td>
            Spirit Pokémon
          </td>
          <td>
            Riolu
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
