<!--DO NOT USE TAILWIND CLASSES IN THIS COMPONENT. THIS IS USED IN LARGE PART BECAUSE TAILWIND IS TOO SLOW TO LOAD-->
<div class="loading-screen" @enter>
<!--  <div class="spinner"></div>-->
  <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_top_half.png" alt="Website logo" class="logo" height="172" width="500" priority @topLeave>
  <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_bottom_half.png" alt="Website logo" class="logo" height="172" width="500" priority @bottomLeave>
  <!-- TODO: Animation (thinking bout cutting it in half) -->
</div>
