<!--DO NOT USE TAILWIND CLASSES IN THIS COMPONENT. THIS IS USED IN LARGE PART BECAUSE TAILWIND IS TOO SLOW TO LOAD-->
<div class="loading-screen">
<!--  <div class="spinner"></div>-->
  <div class="top-half">
    <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_top_half.png" alt="Website logo" class="logo" height="172" width="500" priority>
  </div>
  <div class="bottom-half">
    <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_bottom_half.png" alt="Website logo" class="logo" height="172" width="500" priority>
  </div>
  <!-- TODO: Animation (thinking bout cutting it in half) -->
</div>
