.loading-screen {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.top-half {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.bottom-half {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.logo {
  width: 150px;
  display: block;
}

@keyframes full-page-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes top-half-exit {
  to {
    translate: 0 -700px;
  }
}

@keyframes bottom-half-exit {
  to {
    translate: 0 700px;
  }
}

.full-page-enter {
  animation: full-page-enter 1.5s ease-in-out;
}

.bottom-half-exit {
  animation: bottom-half-exit 0.5s cubic-bezier(.73,.04,.85,.76);

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.top-half-exit {
  animation: top-half-exit 0.5s cubic-bezier(.73,.04,.85,.76);

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
