@if (loading) {
  <!-- Loading screen. This really belongs in its own component, but Angular animations are extremely buggy at this time, so it needs to be here -->
  <!--DO NOT USE TAILWIND CLASSES IN THIS COMPONENT. THIS IS USED IN LARGE PART BECAUSE TAILWIND IS TOO SLOW TO LOAD-->
  <div class="loading-screen" @loading (@loading.done)="finishAnimation($event)">
    <div class="top-half">
      <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_top_half.png" alt="Website logo" class="logo" height="172" width="500" priority [style.opacity]="animation1Ended ? 1 : 0">
    </div>
    <!-- TODO: A gutter appears here. Make it disappear -->
    <div class="bottom-half">
      <img ngSrc="images/site_logos/nikos_logo_d5dcf9_small_bottom_half.png" alt="Website logo" class="logo" height="172" width="500" priority [style.opacity]="animation1Ended ? 1 : 0">
    </div>
  </div>
}
@else {
  <app-navbar></app-navbar>
  <router-outlet />
  <app-footer></app-footer>
}
