<main class="h-screen-no-navbar max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-around">
  @if (statsLoaded) {
    <div class="flex flex-col items-center justify-center">
        <p>Peak rank: {{season2024tier}}</p>
        <img ngSrc="{{maxTierImageUrl}}" alt="{{season2024tier}}" height="1000" width="1000" priority class="w-40 h-40">
      </div>
      <!-- Possible TODO: Do not show unranked if errored -->
      @if (currentSoloRanking) {
    <div class="flex flex-col items-center justify-center">
      <p>Ranked Solo/Duo: {{ currentSoloRanking.tier + ' ' + currentSoloRanking.rank }} - {{ currentSoloRanking.lp }}
        LP</p>
      <img ngSrc="{{currentSoloImageUrl}}" alt="{{currentSoloRanking.tier}}" height="1000" width="1000" priority
           class="w-40 h-40">
    </div>
    } @else {
    <div class="flex flex-col items-center justify-center">
      <p>Ranked Solo/Duo: UNRANKED</p>
      <img ngSrc="images/ranked_emblems_2024/unranked.webp" alt="Unranked" height="500" width="500" priority
           class="w-40 h-40">
    </div>
    }
    @if (currentFlexRanking) {
    <div class="flex flex-col items-center justify-center">
      <p>Ranked Flex: {{ currentFlexRanking.tier + ' ' + currentFlexRanking.rank }} - {{ currentFlexRanking.lp }}LP</p>
      <img ngSrc="{{currentFlexImageUrl}}" alt="{{currentFlexRanking.tier}}" height="1000" width="1000" priority
           class="w-40 h-40">
    </div>
    } @else {
    <div class="flex flex-col items-center justify-center">
      <p>Ranked Flex: UNRANKED</p>
      <img ngSrc="images/ranked_emblems_2024/unranked.webp" alt="Unranked" height="500" width="500" priority
           class="w-40 h-40">
    </div>
    }
  }
  <!-- TODO ideas:
  1. Console history:
    a. GBA SP
    b. GB Micro
    c. NDS
    d. DSi
    e. DSLite
    f. 3DS
    g. Switch Lite

  2. Games to be included:
    a. Pokemon
    b. Megaman
    c. League of Legends
    d. Hollow Knight

    Borderlines:
    a. Zelda
    b. Mario
    c. Sonic
    d. Castlevania
    e. The Witcher
    f. Rocket League
    g. Fire Emblem

  3. Stats about games (custom from my backend)
  -->
</main>
