<main class="h-screen-no-navbar min-h-96">
  <div class="h-full w-full flex flex-col gap-3 p-6 pt-2">
    <div class="flex-1 rounded-sm w-full" #map></div>
    <div class="runway" #runway>
<!--      <hr class="border-lavender/30 border-2 border-dashed my-[16px] grid-col-row-1">-->
      <!-- TODO: Add a hover event for the flags, to outline the right country, and a hover event for countries to outline the right flag -->
      <svg class="inline rotate-90 plane-animation" [style.translate]="planeTranslation + 'px'" [style.transition-duration]="animationFinished ? '0s' : ''" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 -960 960 960"><path fill="rgb(var(--charcoal))" d="M340-80v-60l80-60v-220L80-320v-80l340-200v-220q0-25 17.5-42.5T480-880t42.5 17.5T540-820v220l340 200v80L540-420v220l80 60v60l-140-40z"/></svg>
    </div>
    <div class="flex flex-wrap items-center gap-5">
      @for (flag of flags; track $index) {
        <div class="flag-container" [class.hovered-flag-container]="hoveredFlags[$index]" (mouseenter)="flagHovered($index)" (mouseleave)="flagUnhovered($index)">
          <img class="inline rounded-full flag-icon" ngSrc="flags/1x1/{{flag}}" alt="Flag of {{countryNames[$index]}}" height="25" width="25">
          <div class="tooltip font-varela-round">
            {{countryNames[$index]}}
          </div>
        </div>
      }
    </div>
  </div>
  <!-- TODO: fa-plane under the map, moving to the right, with years noted (on the line, or dynamically changing or something) -->
</main>
