.plane-animation {
  animation: plane-animation 30s linear forwards;
}

// TODO: Make this animation responsive (it goes too far on mobile)
@keyframes plane-animation {
  to {
    translate: 93vw;
  }
}

// Used to make the hr and the svg overlap in the same grid position
.grid-col-row-1 {
  grid-row: 1;
  grid-column: 1;
}
