.plane-animation {
  animation: plane-animation 30s linear forwards;
}

// TODO: Make this animation responsive (it goes too far on mobile)
@keyframes plane-animation {
  to {
    translate: 93vw;
  }
}

.runway {
  background-image: url("/images/Airport-Runway-Top-View-cropped.svg"); // TODO: This path will not work in production mode
  background-repeat: repeat-x;
  background-position: center;
  @apply rounded;
  opacity: 0.8;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 5;
  top: -3rem;
  text-align: center;
  background-color: rgb(var(--charcoal));
  color: rgb(var(--lavender));
  border-radius: 2px;
  @apply p-2;
  text-wrap: nowrap;
  @apply text-xs;
}

.tooltip-container:hover .tooltip {
  display: block;
}
