// Capriola
@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Capriola-Regular.ttf) format('truetype');}

// Mallanna
@font-face {
  font-family: 'Mallanna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  size-adjust: 106%; //Mallanna is too small on its own. I adjust it myself. Reference: https://stackoverflow.com/a/73528347/7400287
  src: url(/fonts/Mallanna-Regular.ttf) format('truetype');
}

// Convergence
@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Convergence-Regular.ttf) format('truetype');
}

// Varela Round
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  size-adjust: 95%;
  src: url(/fonts/VarelaRound-Regular.ttf) format('truetype');
}

// Amaranth
@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Amaranth-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Amaranth-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Amaranth-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Amaranth-Bold.ttf) format('truetype');
}

// Nunito
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Nunito-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  src: url(/fonts/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}
