@use "variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: $bg-color;
  color: $text-color;
  //font-family: Mallanna, sans-serif;
  font-family: Capriola, Mallanna, sans-serif;
}
