@use "variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: $bg-color;
  color: $text-color;
  @apply font-capriola;
  min-height: 100vh;
}

// Sets the height to the remaining size of the screen, without the navbar
@layer utilities {
  .h-screen-no-navbar {
    height: calc(100vh - $nav-height);
  }
}

@layer components {
  // Reference: https://stackoverflow.com/a/42252589
  .vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
