$charcoal: theme('colors.charcoal');
$lavender: theme('colors.lavender');
$sea-blue: theme('colors.sea-blue');
$nav-height: theme('size.16');

:root {
  --charcoal: 55, 63, 81; // theme(colors.charcoal');
  --lavender: 213, 220, 249; // theme('colors.lavender');
  --sea-blue: 0, 145, 173; // theme('colors.sea-blue');
  --nav-height: theme('size.16');
}
