$bg-color: theme('colors.charcoal'); // TODO: I'd like it a bit brighter. Maybe a gradient or something
$text-color: theme('colors.lavender');
$secondary-color: theme('colors.sea-blue');
$nav-height: theme('size.16');
