@use '../../variables' as *;


.profile-photo {
  border-radius: 50%;
  margin: auto;
}

.logo-wrapper {
  width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.project-logo {
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  @apply p-4;
  background-color: $text-color;
  color: $bg-color;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  @apply min-w-64;

  & > h2 {
    @apply text-xl;
    @apply font-bold;
  }

  & > h3 {
    opacity: 0.9;
  }

  & > ul {
    text-align: start;
    align-self: start;
  }
}

a.card:hover, a.card:active {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75) inset;
}

.school-card {
  @extend .card;
  @apply max-w-80;

  & > h4 {
    opacity: 0.8;
  }

  & > .school-dates {
    align-self: end;
    opacity: 0.78;
    @apply mb-4;
  }
}

.job-card {
  @extend .card;
  @apply max-w-xl;

  & > h3 {
    @apply text-lg;
  }

  & > .job-info {
    display: flex;
    justify-content: space-between;
    opacity: 0.78;
    width: 100%;
    @apply -mb-5;
  }
}

.project-card {
  @extend .card;
}

.base-container {
  @apply flex;
  @apply flex-col;
  @apply md:flex-row;
  @apply items-center;
  @apply md:items-stretch;
  justify-content: space-around;
  @apply pt-4;
  @apply px-2;
  @apply gap-4;
}

.schools-container {
  @extend .base-container;
}

.jobs-container {
  @extend .base-container;
  max-width: 95%;
  margin: 0 auto;
}

.projects-container {
  @extend .base-container;
}

li::before {
  content: "-";
  //content: "→";
  @apply pr-0.5;
  //color: black;
}
