<main class="max-w-xl mx-auto">
  <h1 class="font-capriola text-3xl">About me!</h1>
  <p class="font-mallanna">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem culpa dignissimos dolor eligendi est eum, eveniet explicabo fugiat illum incidunt inventore ipsum iusto, numquam obcaecati quas quisquam repellat sunt.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium consectetur dignissimos dolor eligendi, est ex, expedita, facilis in incidunt minus modi non praesentium quia rerum sit vel vero voluptatum!</p>
</main>
