<main>
  <div class="h-screen-no-navbar px-3 sm:px-0 max-w-xl mx-auto">
    <div class="h-sm:vertical-center opacity-0 animation-delay-1000 animate-slow-fade-in">
<!--      <img class="profile-photo" src="nikos_profile_small.png" alt="Picture of Nikos Tragkas">-->
      <h1 class="font-capriola text-3xl -ml-0.5 mb-1">Hi, my name is Nikos Tragkas!</h1>
      <p class="font-mallanna">
<!--        Quickly introduce self -->
        I am a Software Engineer from Thessaloniki, Greece, who likes to build websites.
        I graduated from the Aristotle University of Thessaloniki with a Bachelor's degree in Computer Science and
        a Master's degree in Artificial Intelligence. Welcome to my virtual hang-out spot.
        Explore this site to learn more about me.
      </p>
    </div>
  </div>
  <div class="p-3 max-w-5xl mx-auto motion-safe:animate-slide-in-up md:motion-safe:animate-slide-in-left grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="text-justify">
      <h1 class="font-capriola text-3xl">About me!</h1>
      <div class="font-mallanna">
        <!--      More details (uni, projects, interests, ...)-->
        <!--      Grid with pic on the right? -->
        <p>
          I am a software engineer, with a passion for web development. I studied Computer Science at the Aristotle
          University of Thessaloniki, specializing in the field of
          Artificial Intelligence. After I got my Bachelor's degree, I continued in the same university, studying
          Artificial Intelligence. During my Master's cycle, I also
          spent a semester in Madrid, doing an Erasmus+ exchange at the <span lang="es">Universidad Politécnica de Madrid</span>.
          After finishing my studies, I spent one year in the army, as is required in Greece, and am now ready to tackle the next challenge in my life.
        </p>
        <p class="pt-2">
          Other than <i class="fa-solid fa-laptop-code"></i> coding, my hobbies include going to the <i class="fa-solid fa-dumbbell"></i> gym, playing <i class="fa-regular fa-futbol"></i> sports,
          <i class="fa-solid fa-camera"></i> photography, <i class="fa-solid fa-plane"></i> traveling, and playing <i class="fa-solid fa-gamepad"></i> video games.
        </p>
      </div>
    </div>
    <div>
      <img src="images/nikos_2023.jpg" alt="Picture of Nikos Tragkas" class="border-2 border-black rounded-xl"> <!-- TODO: Use smaller images -->
    </div>
  </div>
<!--  TODO: Determine all the content that I want first. Then do the styling and animations -->
<!--  Link to the sections here perhaps? -->
  <div class="py-24 max-w-5xl mx-auto motion-safe:animate-slide-in-up md:motion-safe:animate-slide-in-left">
    <h1 class="text-3xl text-center font-capriola">Education</h1>
    <div class="schools-container">
      <!-- TODO: No inline styles here, use an actual class -->
      <div class="card"> <!-- TODO: Three cards, dropping in one after the other -->
        <img src="images/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo" class="logo">
        <h2>Aristotle University of Thessaloniki</h2>
        <div>Masters's Degree</div>
        <div>Artificial Intelligence</div>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
      </div>
      <div class="card">
        <img src="images/upm_logo.png" lang="es" alt="Universidad Politécnica de Madrid logo" class="logo">
        <h2 lang="es">Universidad Politécnica de Madrid</h2>
        <div>Erasmus+ Exchange Semester</div>
        <div>Artificial Intelligence</div>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
      </div>
      <div class="card">
        <img src="images/AUTH_logo_small.png" alt="Aristotle University of Thessaloniki logo" class="logo">
        <h2>Aristotle University of Thessaloniki</h2>
        <div>Bachelor's Degree</div>
        <div>Computer Science</div>
<!--        <div>Grade?</div>-->
<!--        <div>Thesis?</div>-->
<!--        <div>Specializations?</div>-->
      </div>
    </div>
  </div>
  <div class="py-24 max-w-5xl mx-auto motion-safe:animate-slide-in-up md:motion-safe:animate-slide-in-left">
    <h1 class="text-3xl text-center font-capriola">Experience</h1>
    <div class="jobs-container">
      <div class="card"> <!-- TODO: No inline styles here, use an actual class -->
        <img src="images/it-auth-logo.png" alt="AUTH IT Center logo" class="logo">
        <h2>AUTH IT CENTER</h2>
        <p>Did some stuff</p>
      </div>
      <div class="card">
        <img src="images/inca_hellas_logo.png" alt="INCA Hellas logo" class="logo">
        <h2>INCA Hellas</h2>
        <p>Did more stuff</p>
      </div>
    </div>
  </div>
  <div class="py-24 max-w-5xl mx-auto motion-safe:animate-slide-in-up md:motion-safe:animate-slide-in-left">
    <h1 class="text-3xl text-center font-capriola">Projects</h1>
    <div class="projects-container">
      <div class="card">
        <img src="images/wili_small.png" alt="Wili Wishlist logo" class="logo">
        <h2>Wili Wishlist</h2>
        <p>GOATed app</p>
      </div>
    </div>
  </div>
</main>
